@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;  
    /* overflow:hidden;  */
} 

body {
    background-color: hsl(212, 45%, 89%);
}

section {
    display: grid;
    grid-template-rows: 5rem auto 5rem;
    grid-template-areas: 
    "."
    "qrcode"
    ".";
    
    align-items: center;
    justify-content: center;
}

.qr-code{
    grid-area: qrcode;
    max-width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

img{
    width: 90%;
    border-radius: 20px;    
    margin-top: 20px;
}

h1{
    padding: 10px;
    line-height: 30px;
    font-weight: 900;
}

p {
    padding: 10px;
    color : rgba(0, 0, 0, 0.4);
    font-weight: 700;
    line-height: 30px;
}

@media (max-width: 600px) {
    section {
        width: 80%;
        margin: auto;
        overflow:hidden; 
    }
    
  }